<h1>Hello Sequelize</h1>

<div class="container">
  {{#each users}}
    <div class="item">
      <h2>{{this.name}}</h2>
      <p>{{this.occupation}}</p>
      <div class="actions">
        <a href="/users/{{this.uuid}}" class="details-btn">Details</a>
        <form action="/users/delete/{{this.uuid}}" method="POST">
          <input type="hidden" name="_method" value="delete" id="delete" />
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>