<div class="container">
  <h1>Tasks</h1>
  <ul class="task-list">
    {{#each taskList}}
      <li>
        <a href="/" class="title">{{this.title}}</a>
        <div class="actions">
          <a href="/"><i class="bi bi-check-square"></i></a>
          <a href="/"><i class="bi bi-pencil-square"></i></a>
          <form action="/tasks/delete/{{this.uuid}}" method="POST">
            <button type="submit">
              <i class="bi bi-x-square"></i>
            </button>
          </form>
        </div>
      </li>
    {{/each}}
  </ul>
</div>