<div class="container">
  <h1>Tasks</h1>
  {{#each taskList}}
    <div class="task">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.done}}</p>
    </div>
  {{/each}}
</div>