<h1>Hello Handlebars</h1>
<h2>Each loop</h2>

<ul>
  {{#each items}}
    <li>{{this}}</li>
  {{/each}}
</ul>

{{! 
    * 'items' is the array defined in the backend
    * 'this' is the value of the array
}}