<div class="home-container">
  <h1>Welcome to the TASK MANAGER 2099</h1>
  <div class="features">
    <div class="feature-item">
      <h1>Adding tasks</h1>
      <p>Manage your tasks and have a productive day</p>
    </div>
    <div class="feature-item">
      <h1>Task List</h1>
      <p>See your all tasks</p>
    </div>
    <div class="feature-item">
      <h1>Filters</h1>
      <p>See only the tasks you want</p>
    </div>
    <div class="feature-item">
      <h1>Feature #</h1>
      <p>Description</p>
    </div>
  </div>
</div>