<h1>Dashboard</h1>
<h3>Hello, be welcome.</h3>

<a href="/">Back to home</a>

<h2>Using if/else</h2>
{{#if approved}}

  <p>Congratulations! Your registration is approved.</p>

{{else}}

  <p>
    Sorry, your registration requires approval to total access to the dashboard.
  </p>

{{/if}}